## Deliverable 2. Create a Customer Travel Destinations Map.

In [42]:
# !conda activate PythonData

In [43]:
# !conda install -c conda-forge gmaps

In [44]:
# !jupyter nbextension enable --py --sys-prefix gmaps

In [45]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [46]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("cities_weather.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Busselton,AU,-33.6500,115.3333,51.08,82,90,11.05,overcast clouds
1,1,Oistins,BB,13.0667,-59.5333,80.69,69,40,18.41,scattered clouds
2,2,Lexington,US,37.9887,-84.4777,87.12,45,1,6.91,clear sky
3,3,Cap Malheureux,MU,-19.9842,57.6142,72.09,82,22,1.99,few clouds
4,4,Hobart,AU,-42.8794,147.3294,54.01,94,75,1.01,broken clouds

In [47]:
del city_data_df ["Unnamed: 0"]

In [48]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [49]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Oistins,BB,13.0667,-59.5333,80.69,69,40,18.41,scattered clouds
2,Lexington,US,37.9887,-84.4777,87.12,45,1,6.91,clear sky
7,Katsuura,JP,35.1333,140.3000,75.24,71,5,6.17,clear sky
15,Butaritari,KI,3.0707,172.7902,83.68,75,21,16.20,light rain
17,Natal,BR,-5.7950,-35.2094,79.45,83,20,11.50,few clouds
18,Stabat,ID,3.7610,98.4513,79.00,96,32,2.39,light rain
20,Ciudad Bolivar,VE,8.1222,-63.5497,79.99,79,75,13.65,broken clouds
26,Sarangani,PH,5.4033,125.4636,81.03,75,100,6.31,overcast clouds
30,Hilo,US,19.7297,-155.0900,79.25,80,34,4.00,scattered clouds
32,Bilma,NE,18.6853,12.9164,88.45,13,0,9.42,clear sky

In [50]:
# 4a. Determine if there are any empty rows.
#preferred_cities_df.count()
preferred_cities_df.isnull().sum()

City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [51]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,Oistins,BB,13.0667,-59.5333,80.69,69,40,18.41,scattered clouds
2,Lexington,US,37.9887,-84.4777,87.12,45,1,6.91,clear sky
7,Katsuura,JP,35.1333,140.3000,75.24,71,5,6.17,clear sky
15,Butaritari,KI,3.0707,172.7902,83.68,75,21,16.20,light rain
17,Natal,BR,-5.7950,-35.2094,79.45,83,20,11.50,few clouds
...,...,...,...,...,...,...,...,...,...
683,Nāgaur,IN,27.2000,73.7333,89.08,51,1,18.37,clear sky
684,Jatiroto,ID,-7.8833,111.1167,75.90,84,92,1.43,overcast clouds
688,Maragogi,BR,-9.0122,-35.2225,75.09,87,37,8.75,scattered clouds
689,Marsh Harbour,BS,26.5412,-77.0636,82.53,72,100,15.61,overcast clouds
690,Matara,LK,5.9485,80.5353,78.39,88,44,11.56,scattered clouds

In [52]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Oistins,BB,80.69,scattered clouds,13.0667,-59.5333,
2,Lexington,US,87.12,clear sky,37.9887,-84.4777,
7,Katsuura,JP,75.24,clear sky,35.1333,140.3000,
15,Butaritari,KI,83.68,light rain,3.0707,172.7902,
17,Natal,BR,79.45,few clouds,-5.7950,-35.2094,
18,Stabat,ID,79.00,light rain,3.7610,98.4513,
20,Ciudad Bolivar,VE,79.99,broken clouds,8.1222,-63.5497,
26,Sarangani,PH,81.03,overcast clouds,5.4033,125.4636,
30,Hilo,US,79.25,scattered clouds,19.7297,-155.0900,
32,Bilma,NE,88.45,clear sky,18.6853,12.9164,

In [57]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...skipping")

Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping
Hotel not found...skipping

In [60]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Oistins,BB,80.69,scattered clouds,13.0667,-59.5333,Butterfly Beach Hotel
2,Lexington,US,87.12,clear sky,37.9887,-84.4777,DoubleTree Suites by Hilton Hotel Lexington
7,Katsuura,JP,75.24,clear sky,35.1333,140.3000,Katsuura Hotel Mikazuki
15,Butaritari,KI,83.68,light rain,3.0707,172.7902,Isles Sunset Lodge
17,Natal,BR,79.45,few clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
...,...,...,...,...,...,...,...
683,Nāgaur,IN,89.08,clear sky,27.2000,73.7333,Ranvas Nagaur
684,Jatiroto,ID,75.90,overcast clouds,-7.8833,111.1167,Mushola Al Huda
688,Maragogi,BR,75.09,scattered clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
689,Marsh Harbour,BS,82.53,overcast clouds,26.5412,-77.0636,Abaco Beach Resort
690,Matara,LK,78.39,scattered clouds,5.9485,80.5353,Amaloh Boutique Resort

In [61]:
# 8a. Create the output File (CSV)
output_data_file = "weatherpy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [63]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [64]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))